* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Commissioner", sans-serif;
}

//primary color variables
$primary: green;
$white: white;
$black: black;
$primary_blue: #040e56;
$gray: gray;

//css for top-bar
.top-bar {
    background-color: $black;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    a {
        color: $white;
    }
    a:hover {
        color: yellowgreen;
        text-decoration: underline;
    }
    span {
        color: $white;
        text-align: center;
        font-size: 1.5vw;
    }
}
.bg-img {
    background-image: url("https://image.shutterstock.com/image-vector/accounting-big-data-blockchain-technology-600w-1919445398.jpg");
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-container {
    img {
        transition: 1s;
    }
    img:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
    }
}

.service-container {
    background-color: $primary_blue;

    li {
        color: $white;
    }
    .cards {
        background-color: turquoise;
        width: 80%;
        margin: 3%;
        padding: 30px;
        transition: 1s;
    }
    .cards:hover {
        background-color: dodgerblue;
    }
    li:hover {
        i {
            color: dodgerblue;
        }
    }
}
.vision-container {
    margin-bottom: 60px;
    .box {
        background-color: dodgerblue;
        padding: 10px;
        transition: 1s;
    }
    .box:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
    }
    h3 {
        text-align: center;
        color: $white;
    }
    p {
        color: $gray;
    }
    span {
        color: dodgerblue;
        font-weight: bold;
    }
    i {
        padding: 10px;
        font-size: x-large;
    }
    img {
        transition: 1s;
    }
    img:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
    }
}
.client-container {
    background-color: $primary_blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    h4 {
        color: darkturquoise;
    }
    h2 {
        color: $white;
        font-weight: bold;
    }
    p {
        color: $gray;
    }
    .card-container {
        width: 35%;
        position: relative;
        bottom: 50px;
        margin: 10px;
        background-color: $primary_blue;
        padding: 10px;

        p {
            color: $white;
        }
    }
}
.importance-container {
    .box {
        display: flex;
        background-color: $primary_blue;
        padding: 10px;
        transition: 1s;
        align-items: center;
        flex-direction: column;
    }
    .box:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
    }
    h1 {
        color: $white;
        font-weight: bold;
    }
    h6 {
        color: $white;
    }
    img {
        transition: 1s;
    }
    img:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
    }
}
.testimonial-container {
    display: flex;
    flex-direction: column;
    background-color: $primary_blue;
    align-items: center;
    padding: 2%;
    h3 {
        color: turquoise;
       
    }
    h5 {
        color: turquoise;
    }
    h1 {
        color: white;
    }
    p {
        color: $white;
    }
    q {
        color: white;
    }
    i {
        color: white;
    }
    .carousel-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .client-box {
        display: flex;
        align-self: flex-end;
        flex-direction: column;
    }
    .carousel-border{
        padding: 5%;
        
         
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4 ), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }
}
.touch-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 5%;

    h3 {
        color: dodgerblue;
    }
    h1 {
        color: $primary_blue;
        margin: 5%;
        font-weight: bold;
        font-size: 70px;
    }
}
.footer-container {
    position: relative;
    padding: 5%;
    background-image: url("http://tykit.rometheme.pro/virtu/wp-content/uploads/sites/11/2021/06/happy-young-colleagues-working-on-virtual-reality-PAB3KL8.jpg");
    opacity: 0.99;
    background-position: center center;
    background-size: cover;
    p {
        color: $white;
    }
    h4 {
        color: $white;
        font-weight: bold;
    }
    li {
        color: $white;
        padding: 2%;
    }
    i {
        color: blue;
    }
    a {
        color: $white;
    }
    a:hover {
        color: $primary_blue;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color:$primary_blue;
        opacity: 0.8;
        z-index: -1;
       
    }
}
.copyright-container {
    background-color: $primary_blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    h6 {
        color: $white;
        font-style: italic;
    }
}
